@mixin defaults-root-styles {
  box-sizing: border-box;
  display: flex;
  padding: 0;
}
.flex {
  @include defaults-root-styles;
  box-sizing: border-box;
  margin: 0;
  &__container {
    @include defaults-root-styles;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: #{$layout-max-width}px;
    margin: 0 auto;
    &.fluid {
      max-width: 100%;
    }
    &.gutter {
      padding-left: #{$layout-gutter/2}px;
      padding-right: #{$layout-gutter/2}px;
    }
    &.debug {
      background: transparentize($layout-color-debug-container, .8);
      border: dashed 1px transparentize($layout-color-debug-container, .6);
    }
  }

  @each $breakpoint in $var-media-breakpoint-names{
    @include general-media-query(ps);
  }

  @each $breakpoint in $var-media-breakpoint-names{
    @media only screen and (min-width: #{map-get($var-breakpoints, $breakpoint)}px) {
      @include general-media-query($breakpoint);
    }
  }
}
