@mixin general-media-query($breakpoint) {

  @each $column in $var-columns-top {
    &.#{$breakpoint}-#{$column} {
      flex-basis: calc((100% * #{$column}) / #{$layout-columns});
      max-width: calc((100% * #{$column}) / #{$layout-columns});
    }
  }

  @each $column in $var-columns-bottom {
    &.#{$breakpoint}-sft-#{$column} {
      margin-left: calc((100% * #{$column}) / #{$layout-columns});
    }
  }

  &.#{$breakpoint}-row {
    flex-direction: row;
    flex-wrap: wrap;
    &.#{$breakpoint}-rvs {
      flex-direction: row-reverse;
    }
    &.debug {
      background: transparentize($layout-color-debug-row, .8);
      border: dashed 1px transparentize($layout-color-debug-row, .6);
    }
  }

  &.#{$breakpoint}-col {
    flex-direction: column;
    &.#{$breakpoint}-rvs {
      flex-direction: column-reverse;
    }
    &.debug {
      background: transparentize($layout-color-debug-column, .8);
      border: dashed 1px transparentize($layout-color-debug-column, .6);
    }
  }

  &:not(.#{$breakpoint}-gtr) {
    padding-left: 0;
    padding-right: 0;
  }

  &.#{$breakpoint}-hdn {
    display: none;
  }
  &.#{$breakpoint}-vsb {
    display: flex;
  }
  &.#{$breakpoint}-gtr {
    padding-left: #{$layout-gutter/2}px;
    padding-right: #{$layout-gutter/2}px;
  }
  &.#{$breakpoint}-gro {
    flex-grow: 1;
  }
  &.#{$breakpoint}-snk {
    flex-shrink: 1;
  }
  &.#{$breakpoint}-nwp {
    flex-wrap: nowrap;
  }
  &.#{$breakpoint}-fst {
    order: -1;
  }
  &.#{$breakpoint}-lst {
    order: 1;
  }

  &.#{$breakpoint}-al-stch {
    align-items: stretch;
  }
  &.#{$breakpoint}-al-top {
    align-items: flex-start;
  }
  &.#{$breakpoint}-al-bot {
    align-items: flex-end;
  }
  &.#{$breakpoint}-al-mid {
    align-items: center;
  }
  &.#{$breakpoint}-al-bse {
    align-items: baseline;
  }
  &.#{$breakpoint}-jf-lft {
    justify-content: flex-start;
  }
  &.#{$breakpoint}-jf-rgt {
    justify-content: flex-end;
  }
  &.#{$breakpoint}-jf-ctr {
    justify-content: center;
  }
  &.#{$breakpoint}-jf-bet {
    justify-content: space-between;
  }
  &.#{$breakpoint}-jf-aro {
    justify-content: space-around;
  }
  &.#{$breakpoint}-jf-evl {
    justify-content: space-evenly;
  }
  &.#{$breakpoint}-jf-ini {
    justify-content: initial;
  }
  &.#{$breakpoint}-jf-inh {
    justify-content: inherit;
  }
}
