@import './variables';

$color-container: #995db5;
$color-row: #f7941f;
$color-col: #0FA3B1;

.flex {
  border: 3px solid black;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  font-size: 1.2em;
  padding: #{$layout-gutter}px;

  background:#fff;
  border: solid black;
  border-color: black;
  &.container {
    background: $color-container;
    box-shadow: inset 10px 10px 5px 10px darken($color-container, 10%);
    border-width: 4px 5px 4px 6px;
    border-radius:9% 4% 92% 5%/4% 5% 6% 5%;
    transform: rotate(1deg);
  }
  &.xs-row,
  &.sm-row,
  &.md-row,
  &.lg-row,
  &.xl-row {
    background: $color-row;
    box-shadow: inset 10px 10px 5px 10px lighten($color-row, 10%);
    border-width: 3px 3px 5px 5px;
    border-radius:4% 95% 6% 95%/9% 4% 2% 5%;
    transform: rotate(-1deg);
    &:empty {
      min-height: 1rem;
    }
  }
  &.xs-col,
  &.sm-col,
  &.md-col,
  &.lg-col,
  &.xl-col {
    background: $color-col;
    box-shadow: inset 5px 5px 5px 5px lighten($color-col, 10%);
    border-width: 5px 3px 3px 5px;
    border-style: dotted;
    border-radius:95% 4% 7% 5%/4% 9% 3% 5%;
    transform: rotate(0deg);
    &:empty {
      min-height: 1rem;
    }
  }
  &.large {
    height: 8rem;
  }
  &.highlighted {
    border-style: solid;
  }
}
